@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

/**********************************************/
$color-cyan: hsl(179, 80%, 58%);
$color-blue: hsl(206, 84%, 22%);
$color-red: hsl(343, 100%, 58%);
$color-grey: hsl(225, 14%, 53%);
$color-black: hsl(230, 60%, 8%);
$color-white: hsl(0, 0%, 100%);
$font-family: "Montserrat", sans-serif;
$mob-padding: 0 24px;
/**********************************************/
