@import "../../utilities/variables";

.section-touch {
  @media (max-width: 768px) {
    text-align: center;
  }
}

.above-line,
.below-line {
  height: 0.5px;
  background-color: aqua;
  width: 100%;
  margin: 3rem auto;
}

p {
  margin-top: 0;
  font-size: 1.25rem;
  @media (max-width: 576px) {
    font-size: 1rem;
  }
}
h3 {
  color: $color-cyan;
  font-weight: 600;
  font-size: 2rem;
  font-size: 1.25rem;
  @media (max-width: 576px) {
    font-weight: 500;
  }
}
.mail-link {
  text-transform: lowercase !important;
  border-bottom: 0.5px dotted cyan;
  @media (max-width: 576px) {
    margin-top: 1rem;
    font-size: 14px;
    display: block;
    border-bottom: none;
  }
}
