@import "~bootstrap/scss/bootstrap";
@import "./utilities/variables";

* {
  margin: 0%;
  padding: 0%;
}

html,
body {
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: $font-family;
  background-color: $color-black;
  color: $color-cyan;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.custom-padding {
  padding: $mob-padding;
  @media (min-width: 992px) {
    padding: 2rem 4rem;
  }
  @media (min-width: 1370px) {
    padding: 2rem 6rem;
  }
  @media (min-width: 1536px) {
    padding: 2rem 12rem;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}
::-webkit-scrollbar-thumb {
  background: $color-cyan;
}

  .react-icons {
    vertical-align: middle;
    color: $color-cyan;
  }

p {
  margin-top: 1.5rem;
  letter-spacing: 1.5px;
  line-height: 145%;
  font-size: 1.35rem;
  font-weight: 300;
  @media (max-width: 576px) {
    letter-spacing: 1px;
    line-height: 115%;
    font-size: 1rem;
    font-weight: 300;
  }
}

h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 125%;
  color: white;
  @media (max-width: 576px) {
    letter-spacing: 1.75px;
    font-size: 1.5rem;
    font-weight: 400;
  }
}
