@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@200;300;400;500;600;700&display=swap");
/* App.css */
/* to load animation for a specific spinner */
@import "~spinners-react/lib/SpinnerDotted.css";

/* to load animations for all spinners at once */
@import "~spinners-react/lib/index.css";
@font-face {
  font-family: "Gladiatore";
  src: url("/fonts/Gladiatore.otf");
}

/* Navy	#0a192f
Light Navy	#112240
Lightest Navy	#233554
Slate	#8892b0
Light Slate	#a8b2d1
Lightest Slate	#ccd6f6
White	#e6f1ff
Green	#64ffda*/

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #0a192f !important;
  color: #ccd6f6 !important;
  letter-spacing: 1px;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  text-decoration-skip-ink: auto;
}

* {
  box-sizing: border-box;
}

.hero__heading {
  font-family: "Gladiatore", "Pacifico", "Poppins", sans-serif;
  font-size: 10rem;
  color: #64ffda;
}
.hero__description {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #ccd6f6;
  width: 80%;
  margin: 0 auto;
}
.title {
  margin-bottom: 2rem;
}

.important {
  color: #64ffda;
}

li {
  color: #a8b2d1;
}

li:hover,
li:active {
  color: #64ffda;
  cursor: pointer;
}

.btn-outline-primary {
  color: #64ffda !important;
  border-color: #64ffda !important;
}
.btn-outline-primary:hover,
.btn-outline-primary:active {
  background-color: #64ffda !important;
  border-color: #64ffda !important;
  color: #000 !important;
}

/*  */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.project-container {
  max-width: 1000px;
  margin: 50px auto;
}

.project {
  margin: 30px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
}
@media screen and (max-width: 768px) {
  .project {
    align-items: flex-start;
  }
}

.project-content {
  position: relative;
  grid-column: 1/7;
  grid-row: 1/-1;
}
@media (max-width: 600px) {
  .project-content {
    grid-column: 1/-1;
    padding: 40px;
  }
}
.project-content .project-label {
  color: #64ffda;
  font-family: monospace;
}
.project-content .project-title {
  font-size: 2rem;
  margin: 10px 0 30px;
  color: #e6f1ff;
}
.project-content .project-details {
  font-size: 15px;
  line-height: 1.5;
  color: #ccd6f6;
}
.project-content .project-details p {
  background-color: #112240;
  padding: 20px 25px;
}
@media (max-width: 600px) {
  .project-content .project-details p {
    background-color: transparent;
    padding: 20px 0;
  }
}
.project-content .project-details ul {
  display: flex;
  margin-top: 20px;
}
.project-content .project-details ul li {
  margin-right: 20px;
  color: #ccd6f6;
  font-family: monospace;
}

.project-img {
  position: relative;
  z-index: -1;
  background-color: #64ffda;
  background: linear-gradient(0.4turn, #64ffda, #90ffe3);
  border-radius: 2px;
  grid-column: 6/-1;
  grid-row: 1/-1;
}
@media screen and (max-width: 768px) {
  .project-img {
    height: 100%;
  }
}
@media (max-width: 600px) {
  .project-img {
    grid-column: 1/-1;
    opacity: 0.25;
  }
}
.project-img:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: #0a192f;
  mix-blend-mode: screen;
  border-radius: 2px;
}
.project-img img {
  border-radius: 2px;
  position: relative;
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1);
}
@media screen and (max-width: 768px) {
  .project-img img {
    object-fit: cover;
    width: auto;
    height: 100%;
  }
}
